:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #fff;
  }

  .icon path {
    fill: #475569;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #343541;
  }

  .icon path {
    fill: #dadfe5;
  }
}

html, body {
  /*边距0*/
  margin: 0;
  /*高度100%*/
  height: 100%;
}

button {
  /*清除默认边框和轮廓*/
  border: 0;
  outline: none;
  /*清除默认背景*/
  background-color: transparent;
  cursor: pointer;
}
